

h1 {
  padding-top: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
}

ul {
  text-align: auto;
  margin-top: 20px;
}


li {
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #4EB9CD;
}

li:hover {
  background: #76CFE0;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}

input {
  border-radius: 5px;
  min-width: 65%;
  padding: 10px;
  border-radius: 7px;
}
/* actividad realizada */
.done {
  background: #51DF70 !important;
  color: #00891E;
}

.delete {
  display: none;
}